.user-profile {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial, sans-serif';
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #ddd;
  } */
  
  .basic-info {
    flex-grow: 1;
  }
  
  .basic-info h2 {
    margin: 0;
    font-size: 24px;
    color:white
  }
  
  .bio {
    color: white;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .additional-info {
    margin-top: 20px;
  }
  
  .info-section {
    margin-bottom: 20px;
  }
  
  .info-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #e3dd22d3;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .info-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: white
  }
  
  .info-section p {
    margin: 0;
    color: white
  }
  